div.container(ng-show="data.showEndScreen")
	h3 You win, {{ data.name }} !!
	p Regular exercise, eating healthy, and getting screenings are you best chances to prevent colon cancer...
	p and don't forget to share this game and facts about colon cancer
	div
		span.share-facebook.placeholder-box f
		span.share-twitter.placeholder-box t
	p
		| Visit the 
		span.terms-link CCCF website
		| &nbsp; for more information on colon cancer or to make an online donation
	p You have 14 days left to place the Colon-a-Tron
	button.btn.btn-primary Place Again