div.user-que(ng-show="data.showEndScreen")
	h3.que-header(ng-show="data.showEndMessage0") YOU KICKED BUTT, {{user.name}}!!	
	h3.que-header(ng-show="data.showEndMessage1") NICE TRY, {{user.name}}!!	
	h3.que-header(ng-show="data.showEndMessage2") OH WELL, {{user.name}}!!	
	img.down-arrow(src="/images/que_down_arrow.png")
	div.container
		p.exercise-inst(ng-show="data.showEndMessage0") LOOKS LIKE YOU WORKED UP A SWEAT AND MADE IT THROUGH ALL THREE STEPS OF THE GAME. THAT’S NO EASY FEAT!
		p.exercise-inst(ng-show="data.showEndMessage1") YOU GOT SOME GOOD MOMENTUM, BUT IT TAKES MORE THAN JUST MOVES TO BEAT COLON CANCER.
		p.exercise-inst(ng-show="data.showEndMessage2") IT LOOKS LIKE YOUR HEART WASN’T IN IT THIS TIME, BUT THAT’S OKAY. 
		p.exercise-inst Regular exercise, eating healthy, and getting screenings are your best chances to prevent colon cancer...
		p.exercise-inst and don't forget to share this game and facts about colon cancer
		div.share-box
				span.share.facebook.splash(ng-click="share('facebook')") share 
					img(src="/images/share_facebook.png")
				span.share.twitter.splash(ng-click="share('')") share 
					img(src="/images/share_twitter.png")
		p.exercise-inst
			| Visit the 
			a.terms-link.challenge-site(href="http://www.coloncancerchallenge.org/", target="_blank") CCCF website
			| &nbsp; for more information on colon cancer or to make an online donation
		p.exercise-inst 
			| You have 
			span= daysLeft
			| &nbsp; days left to place the Colon-a-Tron
		button.btn.btn-primary.play-again(ng-click="playAgain()") Play Again

// Alternate screen is there is an error during the game
div.user-que(ng-show="data.showGameError")
	h3.que-header We're Sorry {{user.name}}	
	img.down-arrow(src="/images/que_down_arrow.png")
	div.container
		p.exercise-inst	The colon-a-tron needs to go to the doctor. We hope you will come back and play after it gets a check-up
		p.exercise-inst Regular exercise, eating healthy, and getting screenings are you best chances to prevent colon cancer...
		p.exercise-inst and don't forget to share this game and facts about colon cancer
		div.share-box
				span.share.facebook.splash(ng-click="share('facebook')") share 
					img(src="/images/share_facebook.png")
				span.share.twitter.splash(ng-click="share('')") share 
					img(src="/images/share_twitter.png")
		p.exercise-inst
			| Visit the 
			a.terms-link.challenge-site(href="http://www.coloncancerchallenge.org/", target="_blank") CCCF website
			| &nbsp; for more information on colon cancer or to make an online donation
		p.exercise-inst 
			| You have 
			span= daysLeft
			| &nbsp; days left to place the Colon-a-Tron
		button.btn.btn-primary.play-again(ng-click="playAgain()") Play Again		