div.user-que.view(ng-show="data.showFatalGameError")
	div.user-que
		h3.que-header SORRY, IT’S NOT WORKING!
		img.down-arrow(src="/images/que_down_arrow.png")
		div.container
			p.mdm.place-in-line.error IT LOOKS LIKE THE COLON-O-TRON IS IN NEED OF A CHECKUP
			p.mdm.place-in-line WE HOPE YOU COME BACK SOON TO PLAY AGAIN 