div.user-que(ng-show="data.showGameScreen")
	h3.que-header You're Up,
		br
		| {{user.name}}!
	img.down-arrow(src="/images/que_down_arrow.png")
	div.container.playing-game.row
		br
		p.exercise-inst.your-up-bottom WHEN YOU’RE READY, PRESS PLAY	
		button.btn.btn-primary.span12(id="play-game", ng-click="playGame()")
			span.submit-form PLAY
