div.footer
	div.container
		div.footer-logos
			img(src="/images/footer_logo_1.png", class="footer-logo-1")
			img(src="/images/footer_logo_2.jpg", class="footer-logo-2")
script(src="/socket.io/socket.io.js")
script(src="/javascript/WindowApp_IO.js")
script(src="/javascript/angular.min.js")
script(src="/javascript/app.js")
script(src="/javascript/controllers.js")
script(src="/javascript/services.js")
script(src="/javascript/analytics.js")
script(src="//platform.twitter.com/widgets.js")
