div.user-que(ng-show="data.showGameScreen")
	h3.que-header Your Up
		br
		| {{user.name}}!
	img.down-arrow(src="/images/que_down_arrow.png")
	div.container.playing-game.row
		p.exercise-inst STEP IN FRONT OF THE CAMERA IN THE WINDOW NOW. WHEN YOU’RE READY, PRESS PLAY AND PERFORM YOUR EXERCISE FOR 15 SECONDS.
		div
			span.placeholder-box.exercise-box
			span.placeholder-box.exercise-box
		br
		button.btn.btn-primary.span(ng-click="playGame()")
			span.submit-form PLAY
