div.footer
	div.container
		div.footer-logos.over-flow
			a(href="http://www.emblemhealth.com/", target="_blank", id="ehealth")
				img.footer-logo-1(src="/images/footer_logo_1.png")
			.hr
			a(href="http://www.coloncancerchallenge.org/", target="_blank", id='challenge-site')
				img.footer-logo-2(src="/images/footer_logo_2.jpg")
		div(ng-show="data.showDonateLegal")
			p.arial *$10.00 donation to the Colon Cancer Challenge Foundation. Charges will appear on your wireless bill, or be deducted from your prepaid balance. All purchases must be authorized by account holder. Must be 18 years of age or have parental permission to participate. Message and Data Rates May Apply.
				strong.texting-info &nbsp; Text STOP to 50555 to STOP. Text HELP to 50555 for HELP.
			p Full Terms: 
				a(href="") mGive.org/T. 
				br
				| Privacy Policy: 
				a(href="") mGive.org/P
		p.arial © 2014 
			br 
			| Colon Cancer Challenge Foundation
		p.arial
			a(href="") Privacy
			|&nbsp; | &nbsp;
			a(href="") Legal Notices
		p.powered-by POWERED BY
			a(href="http://www.mry.com/", target="_blank", id='')
				img.mry-logo(src="/images/logo_mry.png")
			| &amp;
			a(href="http://www.dash7design.com/", target="_blank", id='')
				img.dash-logo(src="/images/logo_dash.png")
script(src="/socket.io/socket.io.js")
script(src="/javascript/WindowApp_IO.js")
script(src="/javascript/angular.min.js")
script(src="/javascript/jquery.min.js")
script(src="/javascript/app.js")
script(src="/javascript/controllers.js")
script(src="/javascript/services.js")
script(src="/javascript/analytics.js")
script(src="//platform.twitter.com/widgets.js")
