.legal-page.privacy(ng-show="data.showLegal")
	p The information provided in connection with this game is not intended to and does not constitute legal or medical advice. 
	p Your personal information, your images captured on video, and the storage of your game results are required to play this game. We do not sell or rent your personal information or image to any third party for marketing or other purposes.
	p The Colon Cancer Challenge Foundation does not endorse or sponsor any links from this website to other websites and has not reviewed and does not accept responsibility for their contents.
	p © 2014 Colon Cancer Challenge Foundation. All rights reserved. The reproduction or retransmission of the contents of this website is prohibited without the prior written consent of the Colon Cancer Challenge Foundation.
	button.btn.btn-primary.span(ng-click="backToView($scope.data.showSignUp)") BACK