div.container(ng-show="data.showPlayingGame")
	h3.title  START 
		br
		| MOVING 
		br
		| AND KEEP 
		br 
		| YOUR EYES 
		br 
		| ON THE 
		br 
		| WINDOW!
	div 
		span.placeholder-box.exercise-box
		span.placeholder-box.exercise-box