div.container(ng-show="data.show404")
	h3 We're sorry, {{ data.name }}
	p The colon-a-tron needs to go to the doctor. We hope you will come back and play after it gets a check-up. 
	p In the meantime just remember - 
	p Regular exercise, eating healthy, and getting screenings are you best chances to prevent colon cancer...
	p and don't forget to share this game and facts about colon cancer
	div
		span.share-facebook.placeholder-box f
		span.share-twitter.placeholder-box t