.container.sign-up-form.row.view(ng-show="data.showSignUp")
	h1.title 
		| PLAY TO PREVENT COLORECTAL CANCER
	form(id="sign-up", name="form", class="css-form form-class sign-up-form", ng-submit="addUser()", novalidate)
		.name
			input(class="sign-up span12", placeholder="YOUR FIRST NAME", type="text", id="user-name", ng-model="user.name" name="uName", ng-maxlength="10", ng-blur="blurFunction('name')", required)
			p(ng-show="form.uName.$error.required && form.uName.$dirty && form.uName.$invalid", class="error-message", id="name-error") Tsk, tsk. Play nicely, please

		.email
			input(class="sign-up span12 email" ,placeholder="Your Email Address", type="email", id="user-email", ng-model="user.email" name="uEmail", ng-blur="blurFunction('email')", required)
			span.why-email(ng-click="showEmailReason()", id="why-email")
				img(src="/images/why_email.png")
			div(ng-show="form.uEmail.$invalid && !form.uEmail.$pristine" )
				p(class="error-message", id="email-error") Must include valid name@provider.com
		

		

		input(id="user_id", type="hidden", ng-model="user.id")
		p.ts-and-cs 
			| BY CLICKING SUBMIT, I AGREE TO THE GAME  
			span.terms-link(ng-click="showTerms()", id="legal") LEGAL NOTICES
		button.btn.btn-primary.span12(id="play-game", ng-disabled="form.$invalid") 
			span.submit-form submit 
		//button.btn.btn-primary(ng-click="update(user)", ng-disabled="form.$invalid || isUnchanged(user)") Enter to Play 
