div.container.timed-out(ng-show="data.showUserTimedOut")
	h3 You timed-out {{ data.name }}
	p Thanks for stopping by the colon-a-tron
	button.btn.btn-primary Play again
	p Share this game and the facts about colon cancer
	div
		span.share-facebook.placeholder-box f
		span.share-twitter.placeholder-box t
	p learn more at 
		a(href="") cccf.com