div.user-qued(ng-show="data.showUserTimedOut", id="timed-out-screen")
	h3.que-header SORRY, YOU TIMED OUT

	img.down-arrow(src="/images/que_down_arrow.png")
	div.container.timed-out.row
		p.mdm.place-in-line.timeout THANKS FOR STOPPING BY
		button.btn.btn-primary.span(ng-click="playAgain()") 
			span.submit-form Play again
		p.exercise-inst.timeout REMEMBER, THE BEST WAY TO PREVENT COLON CANCER IS TO STAY LEAN, EAT CLEAN AND GET SCREENED.
		.donate-box.text.mobile 
					img.phone-icon.pull-left(src="/images/splash_phone_donate.png")
					p TEXT CHALLENGE TO 50555 TO GIVE $10 TO THE CCCF &amp; sHOW YOUR SUPPORT FOR FINDING A CURE*
		p.exercise-inst SHARE THE FACTS ABOUT 
			br 
			| COLORECTAL CANCER
		div.share-box
			span.share.facebook(ng-click="share('facebook')") share 
				img(src="/images/share_facebook.png")
			span.share.twitter(ng-click="share()") share 
				img(src="/images/share_twitter.png")
		p.exercise-inst learn more at 
			a.learn-more(href="http://COLONCANCERCHALLENGE.ORG", target="_blank") COLONCANCERCHALLENGE.ORG

