div.container.row(ng-show="data.showTerms")
	h3.title Colon-a-Tron Game Terms and conditions
	p  omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
	button.btn.btn-primary.span(ng-click="backToSignUp()") BACK

div.container.row(ng-show="data.showEmailReason")
	h3.title Why Do you need my email address
	p  omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
	button.btn.btn-primary.span(ng-click="backToSignUp()") BACK