div.container.row.ts-and-c(ng-show="data.showTerms")
	h3.title LEGAL NOTICES
	p  The information provided in connection with this game is not intended to and does not constitute legal or medical advice. 
	p  Your personal information, your images captured on video, and the storage of your game results are required to play this game. We do not sell or rent your personal information or image to any third party for marketing or other purposes.
	p  The Colon Cancer Challenge Foundation does not endorse or sponsor any links from this website to other websites and has not reviewed and does not accept responsibility for their contents.
	p © 2014 Colon Cancer Challenge Foundation. All rights reserved. The reproduction or retransmission of the contents of this website is prohibited without the prior written consent of the Colon Cancer Challenge Foundation. 
	button.btn.btn-primary.span(ng-click="backToSignUp()") GO BACK

div.container.row.email-disclaimer(ng-show="data.showEmailReason")
	h3.title But why do you need my email address?
	p  By giving us your email address, we can send you a follow-up on how you played and keep you in the loop about what the Colon Cancer Challenge Foundation is up to. You can opt out at any time (and don’t worry- we won’t share your info). Feel free to take a look at our 
		span.privacy-link(ng-click="showPrivacyPage()") Privacy Policy
		| &nbsp;if you still have concerns.
	button.btn.btn-primary.span(ng-click="backToSignUp()") GO BACK