div.user-que.view(ng-show="data.showUserQue")
	h3.que-header Thanks,
		br
		| {{user.name}}!
	img.down-arrow(src="/images/que_down_arrow.png")
	div.container
		p.mdm.place-in-line 
			| YOU’RE 
			span.line-num {{ data.userPlaceQue }} 
			| TO PLAY. 
			br
			|WATCH FOR YOUR NAME  
			br 
			| IN THE WINDOW.
		p.exercise-inst IN THE MEANTIME, DECIDE WHICH 
			br 
			| exercise to do FOR 15 SECONDS:
		div.exercise-gif
			img(src="/images/exercise.gif")
