extends layout

block head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title The best Game ever
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(content='http://alliday.mry.com/', property='og:url')
	meta(content='Play this awesome gameeeeee', property='og:description')
	meta(content='company', property='og:type')
	meta(content='Colon Cancer Challenge Foundation', property='og:title')
	meta(content='Colon Cancer Challenge Foundation Game', property='og:site_name')
	meta(content='http://alliday.mry.com/images/facebook_share.jpg', property='og:image')
	link(rel='stylesheet', href='/stylesheets/MyFontsWebfontsKit.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
block content
	div.user-que
		h3.que-header SORRY, IT’S NOT WORKING!
		img.down-arrow(src="/images/que_down_arrow.png")
		div.container
			p.mdm.place-in-line IT LOOKS LIKE THE COLON-O-TRON IS IN NEED OF A CHECKUP
			p.exercise-inst WE HOPE YOU COME BACK SOON TO PLAY AGAIN 
				
block footer
	include includes/gameFooter