extends layout

block head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title Colon-O-Tron Colon Cancer Challenge Foundation
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(content='http://198.154.216.198/game', property='og:url')
	meta(content='Play to prevent colorectal cancer and learn how you can help us beat it. www.colonotron.org', property='og:description')
	meta(content='company', property='og:type')
	meta(content='Colon-O-Tron Colon Colon Cancer Challenge Foundation', property='og:title')
	meta(content='Colon-O-Tron Colon Cancer Challenge', property='og:site_name')
	meta(content='http://alliday.mry.com/images/facebook_share.jpg', property='og:image')
	meta(name='og:type', content='video')
	meta(property='og:video:type', content='application/x-shockwave-flash')
	meta(property='og:video:width', content='100')
	meta(property='og:video:height', content='100')
	meta(property='og:video', content='http://www.youtube.com/embed/6xisazZX9bA')
	link(rel='stylesheet', href='/stylesheets/MyFontsWebfontsKit.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
block content
	include includes/game
block footer
	include includes/gameFooter