html(ng-app="windowApp")
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/socket.io/socket.io.js")
		script(src="/javascript/WindowApp_IO.js")
		script(src="/javascript/angular.min.js")
		script(src="/javascript/app.js")
		script(src="/javascript/controllers.js")
		script(src="/javascript/services.js")
	body
		div.container.main-container(ng-controller="AddUserForm")
			form(name="myForm",ng-submit="addUser()")
				input(placeholder="Enter Your Name", type="text", id="user-name", ng-model="user.name")
				br
				input(placeholder="Enter Your Email", type="text", id="user-email", ng-model="user.email")
				br
				input(id="user_id", type="hidden", ng-model="user.id")
				button.btn.btn-primary submit!
			p this is a paragraph and {{ data.message }}
				ol
					each user, i in userlist
						li= user.name 