html(ng-app="windowApp")
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/socket.io/socket.io.js")
		script(src="/javascript/WindowApp_IO.js")
		script(src="/javascript/angular.min.js")
		script(src="/javascript/app.js")
		script(src="/javascript/controllers.js")
		script(src="/javascript/services.js")
	body(ng-controller="WindowGame")
		div.container.welcome-screen(ng-show="data.showWelcomeMessage")
			p Welcome to the awesome game!
			button.btn.btn-primary(ng-click="showForm()") Start playing! 

		div.container.sign-up-form(ng-show="data.showSignUp")
			p Sign up to play the coolest game ever
			form(name="myForm",ng-submit="addUser()")
				input(class="sign-up", placeholder="Enter Your Name", type="text", id="user-name", ng-model="user.name")
				br
				input(class="sign-up" ,placeholder="Enter Your Email", type="text", id="user-email", ng-model="user.email")
				br
				input(id="user_id", type="hidden", ng-model="user.id")
				button.btn.btn-primary submit!

		div.container.user-que(ng-show="data.showUserQue")
			p Up Next! 
				//ol
					each user, i in userlist
						li= user.name 
				ol
					li(ng-repeat="users in userlist.userlist") {{ users.name }}
		div.container.playing-game(ng-show="data.showGameScreen")
			p Get ready to play!!
			img(src="/images/running_guy.gif")