extends layout

block head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title Colon-O-Tron Colon Cancer Challenge Foundation
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(content='http://www.colonotron.org', property='og:url')
	meta(content='Play to prevent colorectal cancer and learn how you can help us beat it. www.colonotron.org', property='og:description')
	meta(content='company', property='og:type')
	meta(content='Colon Cancer Challenge Foundation', property='og:title')
	meta(content='Colon-O-Tron Colon Cancer Challenge', property='og:site_name')
	meta(content='http://www.colonotron.org/images/fb_share.png', property='og:image')
	meta(name='og:type', content='video')
	meta(property='og:video:type', content='application/x-shockwave-flash')
	meta(property='og:video:width', content='100')
	meta(property='og:video:height', content='100')
	meta(property='og:video', content='http://www.youtube.com/embed/6xisazZX9bA')
	link(rel='stylesheet', href='/stylesheets/MyFontsWebfontsKit.css')
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	.dark-blue
		.container.top-section
			.home-share
				.pull-right
					span.splash-fb.home.share.facebook(ng-click="share('facebook')")
						img(src="/images/splash_fb.png")
					span.splash-twitter.home.share.twitter(ng-click="share()")
						img(src="/images/splash_twitter.png")
			h3.georgia The super-awesome
			h1 colon-o-tron
			h4.sub-head Legal Notices 
			.video.left-align
				p The information provided in connection with this game is not intended to and does not constitute legal or medical advice. 
				p Your personal information, your images captured on video, and the storage of your game results are required to play this game. We do not sell or rent your personal information or image to any third party for marketing or other purposes.
				p The Colon Cancer Challenge Foundation does not endorse or sponsor any links from this website to other websites and has not reviewed and does not accept responsibility for their contents.
				p © 2014 Colon Cancer Challenge Foundation. All rights reserved. The reproduction or retransmission of the contents of this website is prohibited without the prior written consent of the Colon Cancer Challenge Foundation.
	.bottom
		.container
			.logos
				a(href="http://www.emblemhealth.com/", target="_blank", id="ehealth-home")
					img(src="/images/footer_logo_1.png")
				a(href="http://www.coloncancerchallenge.org/", target="_blank", id='challenge-site-home')
					img.ccf-logo(src="/images/footer_logo_2.jpg")
			p.disclaimer *$10.00 donation to the Colon Cancer Challenge Foundation. Charges will appear on your wireless bill, or be deducted from your prepaid balance. All purchases must be authorized by account holder. Must be 18 years of age or have parental permission to participate. Message and Data Rates May Apply.
			p 
				strong Text STOP to 50555 to STOP. Text HELP to 50555 for HELP.
			p Full Terms: 
				a(href="http://mGive.org/T", target="_blank") 
					strong mGive.org/T   
				|&nbsp;| Privacy Policy: 
				a(href="http://mGive.org/P", target="_blank")  
					strong mGive.org/P 
			p © 2014 Colon Cancer Challenge Foundation
			p 
				a(href="/privacy") 
					strong Privacy 
				| &nbsp; | &nbsp;   
				a(href="/legal") 
					strong Legal Notices
	
block footer
	include includes/splashFooter














