extends layout

block head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title Colon-O-Tron Colon Cancer Challenge Foundation
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(content='http://www.colonotron.org', property='og:url')
	meta(content='Play to prevent colorectal cancer and learn how you can help us beat it. www.colonotron.org', property='og:description')
	meta(content='company', property='og:type')
	meta(content='Colon Cancer Challenge Foundation', property='og:title')
	meta(content='Colon-O-Tron Colon Cancer Challenge', property='og:site_name')
	meta(content='http://www.colonotron.org/images/fb_share.png', property='og:image')
	meta(name='og:type', content='video')
	meta(property='og:video:type', content='application/x-shockwave-flash')
	meta(property='og:video:width', content='100')
	meta(property='og:video:height', content='100')
	meta(property='og:video', content='http://www.youtube.com/embed/6xisazZX9bA')
	link(rel='stylesheet', href='/stylesheets/MyFontsWebfontsKit.css')
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	.dark-blue
		.container.top-section
			.home-share
				.pull-right
					span.splash-fb.home.share.facebook(ng-click="share('facebook')")
						img(src="/images/splash_fb.png")
					span.splash-twitter.home.share.twitter(ng-click="share()")
						img(src="/images/splash_twitter.png")
			h3.georgia The super-awesome
			h1.splash-header 
				a(href="/") colon-o-tron
			h4.sub-head PPRIVACY POLICY
			.video.left-align
				h4 Effective Date October 12, 2010
				p The Colon Cancer Challenge Foundation is committed to protecting your privacy. This Privacy Policy applies to your use of www.coloncancerchallenge.org ("Web site") and explains how we collect, use, and disclose information gathered from or about you through this Web site.
				
				h4 How We Collect, Use, and Disclose Your Information
				p We do not collect any personal information about you unless you affirmatively provide it to us. Certain portions of our Web site, such as the "Contact Us" and "E-mail a Page" pages, allow you to provide personal information on a voluntary basis, including your name, e-mail address, and other contact information. We do not sell or rent your personal information to any third party for marketing or other purposes.
				p If you choose to provide us with personal information, we may use that information to respond to your requests or to send you memoranda, announcements, news, or other information about events and services that we believe may be of interest to you.
				p In order to provide the information and services described in this Privacy Policy, we may share your personal information with carefully selected associated lawyers, law firms or other vendors that perform services on our behalf.
				p We may also use or disclose your information, including personal information: to comply with the law or in response to a subpoena, court order, government request, or other legal process; to protect the interests, rights, safety, or property of ours, our clients, users of this Web site, or others; to allow any successor entity to continue using your information to serve you; and as otherwise required or permitted by law.
				p We and/or our carefully selected vendor(s) may use "cookies" or similar technologies to collect certain information about your use of this Web site. A cookie is a small text file that is placed on your computer and which collects information about your use of this Web site, such as the Web pages you visited, the date and the time of your visit, etc. We collect this information to help us analyze the use of this Web site and to improve its content. Any information collected by cookies will be done so on an anonymous basis, and we do not link any personal information you provide with cookie data. While most Web browsers are set to accept cookies by default, their help function typically contains instructions on how to set your browser to notify you before accepting cookies or to disable cookies entirely. However, it is possible that some parts of this Web site will not function properly if you disable cookies.
			
				h4 Securing Your Information
				p We use reasonable administrative, technical, and physical security measures to protect your personal information from unauthorized access and use.
				p If you have provided personal information to us through this Web site, you may request to review or update that information or have that information deleted from our files. Inquiries and requests should be sent to info@coloncancerchallenge.org
				
				h4 Links to Third-Party Web Sites
				p Our Web site may provide links to third-party sites. This Privacy Policy does not apply to any information you may provide while on such third-party sites. We encourage you to read the privacy policies on those sites before providing any of your personal information to them.
				
				h4 Changes to This Privacy Policy
				p We reserve the right to change this Privacy Policy at any time. Such changes will be effective upon the posting of the updated version on this Web site. We will update the effective date of this Privacy Policy any time we make changes to it, and we encourage you to review the Privacy Policy when you revisit this Web site if changes have been made since your last visit.
				p If you have questions regarding this Privacy Policy, we invite you to contact us by sending us an e-mail to: info@coloncancerchallenge.org
	.bottom
		.container
			.logos
				a(href="http://www.emblemhealth.com/", target="_blank", id="ehealth-home")
					img(src="/images/footer_logo_1.png")
				a(href="http://www.coloncancerchallenge.org/", target="_blank", id='challenge-site-home')
					img.ccf-logo(src="/images/footer_logo_2.jpg")
			p.disclaimer *$10.00 donation to the Colon Cancer Challenge Foundation. Charges will appear on your wireless bill, or be deducted from your prepaid balance. All purchases must be authorized by account holder. Must be 18 years of age or have parental permission to participate. Message and Data Rates May Apply.
			p 
				strong Text STOP to 50555 to STOP. Text HELP to 50555 for HELP.
			p Full Terms: 
				a(href="http://mGive.org/T", target="_blank") 
					strong mGive.org/T   
				|&nbsp;| Privacy Policy: 
				a(href="http://mGive.org/P", target="_blank")  
					strong mGive.org/P 
			p © 2014 Colon Cancer Challenge Foundation
			p 
				a(href="/privacy") 
					strong Privacy 
				| &nbsp; | &nbsp;   
				a(href="/legal") 
					strong Legal Notices
	
block footer
	include includes/splashFooter














