extends layout

block head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title Colon-O-Tron Colon Cancer Challenge Foundation
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0')
	meta(content='http://www.colonotron.org', property='og:url')
	meta(content='Play to prevent colorectal cancer and learn how you can help us beat it. www.colonotron.org', property='og:description')
	meta(content='company', property='og:type')
	meta(content='Colon Cancer Challenge Foundation', property='og:title')
	meta(content='Colon-O-Tron Colon Cancer Challenge', property='og:site_name')
	meta(content='http://www.colonotron.org/images/fb_share.png', property='og:image')
	meta(name='og:type', content='video')
	meta(property='og:video:type', content='application/x-shockwave-flash')
	meta(property='og:video:width', content='100')
	meta(property='og:video:height', content='100')
	meta(property='og:video', content='http://www.youtube.com/embed/6xisazZX9bA')
	link(rel='stylesheet', href='/stylesheets/MyFontsWebfontsKit.css')
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	.dark-blue
		.container.top-section
			.home-share
				.pull-right
					span.splash-fb.home.share.facebook(ng-click="share('facebook')")
						img(src="/images/splash_fb.png")
					span.splash-twitter.home.share.twitter(ng-click="share()")
						img(src="/images/splash_twitter.png")
			h3.georgia The Super-Awesome
			h1.splash-header 
				a(href="/") colon-o-tron
			h4.sub-head PLAY TO PREVENT COLORECTAL CANCER
			.video
				.fly-out.left
					.box.pull-left
						span.month March
						br
						| 1
						sup st 
						| - 31
						sup st
						span.play-time play any
							br
							|time of day
					.arrow.pull-left
						img(src="/images/splash_right_arrow.png")
				.video-responsive
					iframe.video-iframe(width='640', height='389', src='http://www.youtube.com/embed/vVZmFmXeG8A', frameborder='0', allowfullscreen='')
				.fly-out.right
					.arrow.pull-left
						img(src="/images/splash_left_arrow.png")
					.box.pull-left 
						span=daysLeft 
						| &nbsp;DAYS LEFT TO PLAY!


			p.video-inst We get that talking about colorectal cancer, also called rectal, bowel, or colon cancer, isn’t exactly easy. That’s why we created this game that lets you work up a quick sweat while spreading the word 
			p.video-sub (&amp; hopefully learning a few things to help keep you healthy along the way).
	.light-blue.hidden-phone(id="user_id", val="")
		.container
			.row
				.span5
					a(href="https://www.google.com/maps/place/10+Rockefeller+Plaza/@40.7578596,-73.9794028,21z/data=!4m2!3m1!1s0x89c258fee5ee15dd:0x95c779525bf46068", target="_blank")
						img(src="/images/map.png")
				.span7
					p.event-date Show you care &amp; join us in the fight to beat colorectal cancer 
					p.play PLAY ANY TIME, ANY DAY
						span ‘TIL MARCH 31st 
					p.address
						| 10 Rockefeller Plaza
						br
						| New York, NY 10020
					p.address.link
						a.place-icon(href="https://www.google.com/maps/place/10+Rockefeller+Plaza/@40.7578596,-73.9794028,21z/data=!4m2!3m1!1s0x89c258fee5ee15dd:0x95c779525bf46068", target="_blank") GET DIRECTIONS
	.light-blue.visible-phone(id="user_id", val="")
		.container
			.row
				.span7
					p.event-date Show you care &amp; join us in the fight to beat colorectal cancer 
					p.play PLAY ANY TIME, ANY DAY
						span ‘TIL MARCH 31st 
					p.address
						| 10 Rockefeller Plaza
						br
						| New York, NY 10020
					p.address.link
						a.place-icon(href="https://www.google.com/maps/place/10+Rockefeller+Plaza/@40.7578596,-73.9794028,21z/data=!4m2!3m1!1s0x89c258fee5ee15dd:0x95c779525bf46068", target="_blank") GET DIRECTIONS
				.span5
					a(href="https://www.google.com/maps/place/10+Rockefeller+Plaza/@40.7578596,-73.9794028,21z/data=!4m2!3m1!1s0x89c258fee5ee15dd:0x95c779525bf46068", target="_blank")
						img(src="/images/map.png")
	.super-dark-blue
		.container.donation-info
			h3.share-facts we’ve raised 
				.raised lots
				| &nbsp;so far 
			p.top-text thanks to generous people like you :)
			.row.info-boxes
				.span7.offset1.donate-box.text 
					img.phone-icon.pull-left.dark-blueness(src="/images/splash_phone_donate_landing.png")
					p TEXT 
						span CHALLENGE 
						|TO 
						span 50555 
						| TO GIVE $10 TO THE CCCF &amp; sHOW YOUR SUPPORT FOR FINDING A CURE*
					

				.span3.donate-box.computer 
					img.comp-icon.pull-left(src="/images/splash_comp_donate.png")
					p.comp-link 
						a(href="http://events.coloncancerchallenge.org/site/Donation2?1640.donation=form1&df_id=1640", target="_blank", id="donate-online") MAKE AN ONLINE DONATION	
			p a special thanks to our partners at Emblem Health 
				br 
				| for matching donations up to $50,000	
			p.learn-more-link learn more at 
						a(href="http://events.coloncancerchallenge.org/site/Donation2?1640.donation=form1&df_id=1640", target="_blank", id="home-ccc-link") coloncancerchallenge.org						
	.dark-blue.bottom-facts
		.container
			h3.share-facts SHOW YOU CARE. SHARE THE FACTS.
			p.awareness Preventing colorectal cancer starts with awareness, and we need your help. 
			.row.fact-bubbles
				.span4.over-flow.facts
					p
						img.pull-left(src="/images/splash_footer_1.jpg")
						span.fact-text Colorectal cancer is the 2
							sup nd 
							| leading cancer killer of women &amp; men in the U.S.
				.span4.over-flow.facts
					p
						img.pull-left(src="/images/splash_footer_2.jpg")
						span.fact-text If caught early, colorectal cancer is up to 90% curable
				.span4.over-flow.facts
					p
						img.pull-left(src="/images/splash_footer_3.jpg")
						span.fact-text 1/3 of cases can be prevented by diet, exercise &amp; early detection
			p.awareness.bottom-text Talk to your family. Talk to your doctor. Get screened if you’re over 50, have a family history or certain risk factors like IBS or Crohn’s disease. Get the facts and share them.
			div.share-box
				span.share.facebook.home(ng-click="share('facebook')") share 
					img(src="/images/share_facebook.png")
				span.share.twitter.home(ng-click="share('')") share 
					img(src="/images/share_twitter.png")
	.bottom
		.container
			.logos
				a(href="http://www.emblemhealth.com/", target="_blank", id="ehealth-home")
					img(src="/images/footer_logo_1.png")
				a(href="http://www.coloncancerchallenge.org/", target="_blank", id='challenge-site-home')
					img.ccf-logo(src="/images/footer_logo_2.jpg")
			p.disclaimer *$10.00 donation to the Colon Cancer Challenge Foundation. Charges will appear on your wireless bill, or be deducted from your prepaid balance. All purchases must be authorized by account holder. Must be 18 years of age or have parental permission to participate. Message and Data Rates May Apply.
			p 
				strong Text STOP to 50555 to STOP. Text HELP to 50555 for HELP.
			p Full Terms: 
				a(href="http://mGive.org/T", target="_blank") 
					strong mGive.org/T   
				|&nbsp;| Privacy Policy: 
				a(href="http://mGive.org/P", target="_blank")  
					strong mGive.org/P 
			p © 2014 Colon Cancer Challenge Foundation
			p 
				a(href="/privacy") 
					strong Privacy 
				| &nbsp; | &nbsp;   
				a(href="/legal") 
					strong Legal Notices
			p.powered-by POWERED BY
				a(href="http://www.mry.com/", target="_blank", id='')
					img.mry-logo(src="/images/logo_mry.png")
				| &amp;
				a(href="http://www.dash7design.com/", target="_blank", id='')
					img.dash-logo(src="/images/logo_dash.png")
	
block footer
	include includes/splashFooter














