extends layout

block head
	link(rel='stylesheet', href='/stylesheets/MyFontsWebfontsKit.css')
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	.dark-blue
		.container
			.home-share.pull-right
				span.splash-fb
					img(src="/images/splash_fb.png")
				span.splash-twitter
					img(src="/images/splash_twitter.png")
			h3.georgia The super-awesome
			h1 colon-o-tron
			h4.sub-head PLAY TO PREVENT COLORECTAL CANCER
			.video
				.fly-out.left
					.box.pull-left
						span.month March
						br
						| 1
						sup st 
						| - 31
						sup st
						span.play-time play any
							br
							|time of day
					.arrow.pull-left
						img(src="/images/splash_right_arrow.png")
				img(src="images/video.jpg")
				.fly-out.right
					.arrow.pull-left
						img(src="/images/splash_left_arrow.png")
					.box.pull-left 14 DAYS LEFT TO PLAY!


			p.video-inst We get that talking about colorectal cancer, sometimes called colon cancer, isn’t exactly easy. That’s why we created this game that lets you work up a quick sweat while spreading the word (and hopefully learning a few things to help keep you healthy along the way).
	.light-blue
		.container
			.row
				.span6
					img(src="/images/map.jpg")
				.span6
					p.event-date Show you care and join us in the fight to beat colorectal cancer 
					p.play PLAY ANY TIME, ANY DAY
						span ‘TIL MARCH 31st 
					p.address
						| 10 Rockefeller Plaza
						br
						| New York, NY 10020
					p.address.link
						a.place-icon(href="https://maps.google.com/maps?q=10+Rockefeller+Plaza+New+York,+NY+10020&oe=utf-8&client=firefox-a&channel=sb&hnear=10+Rockefeller+Plaza,+New+York,+10020&gl=us&t=m&z=16", target="_blank") GET DIRECTIONS
	.dark-blue
		.container
			h3.share-facts SHOW YOU CARE. SHARE THE FACTS.
			p.awareness Preventing colorectal cancer starts with awareness, and we need your help. Talk to your family. Talk to your doctor. Get screened if you’re over 50, have a family history or certain risk factors like IBS or Crohn’s disease. Get the facts and share them.
			.row.fact-bubbles
				.span4.over-flow
					p
						img.pull-left(src="/images/splash_footer_1.jpg")
						span.fact-text Colorectal cancer is the 2nd leading cancer killer of women and men in the US
				.span4.over-flow
					p
						img.pull-left(src="/images/splash_footer_2.jpg")
						span.fact-text If caught early, colorectal cancer is up to 90% curable
				.span4.over-flow
					p
						img.pull-left(src="/images/splash_footer_3.jpg")
						span.fact-text 1/3 of cases can be prevented by diet, exercise and early detection
			div.share-box
				span.share.facebook(ng-click="share('facebook')") share 
					img(src="/images/share_facebook.png")
				span.share.twitter(ng-click="share('')") share 
					img(src="/images/share_twitter.png")
	.bottom
		.container
			p learn more at coloncancerchallenge.org
	
block footer
	include includes/splashFooter