@import "bootstrap.less";
@import "responsive.less";

// STYLE VARS
@bgblue 	: #315770;
@lightblue 	: #86e4f3;
@grayblue   : #b4d7ee;
@btnorange	: #f39c0d;

body 										{ background-color:@bgblue ; text-align: center; padding: 0; 
											  font-family: SaaSeriesDD ; font-weight: normal; font-style: normal;
	p 										{ font-size: 13px; }
	
}

//TYPOGRAPHY FANCYNESS
//===========================================
h1, h2, h3 									{ color: @lightblue; }
p 											{ color: @grayblue; }
.lrg 										{ font-size: 48px; line-height: 46px; }
.mdm 										{ font-size: 24px; }

// BOOTSTRAP OVER RIDES
//===========================================
button 										{
	&.btn 									{  
		&.btn-primary 						{ border: none; background: @btnorange; color: #fff; font-size: 27px; font-family: SaaSeriesDD ; font-weight: normal; font-style: normal;
											  text-transform: uppercase; line-height: 40px; border-radius: 0; text-shadow: none; margin-left: 0; }
	}
}


// GLOBAL STYLES
//===========================================

.main-container 							{ margin-top: 30px; }
.title 										{ margin-bottom: 40px; font-size: 38.5px;  }
.container 									{ padding: 0 20px; }
.over-flow									{ overflow: hidden; }


.terms-link 								{ text-decoration: underline; color: #fff; cursor: pointer; }
div											{
	.placeholder-box:first-child 			{ margin-right: 10px; }
	.placeholder-box 						{ width: 50px; height: 50px; background: #eee; display: inline-block;  
		&.exercise-box 						{ width: 125px; height: 125px; }
	}
}

.css-form									{									 
	input									{ background-color: #d9ebe8; 
		&:focus:invalid:focus 				{ border-color: green;}
		&.sign-up 							{ height: 50px; margin: 0px 0 5px; border-radius: 0; padding: 0 6px; }
		.ng-invalid.ng-dirty 				{ background-color: #FA787E; border-color: red; }
		.ng-valid.ng-dirty 					{ background-color: #78FA89; }
	}
	.error-message 							{ color: red; }
}

.share-box 									{
	.share:first-child 						{ margin-right: 15px; }
	.share 									{ background: @btnorange; color: #fff; font-size: 24px; height: 45px; display: inline-block; 
											  padding: 0 10px; cursor: pointer; }
}

.game 										{  }
.footer 									{ background: url('../images/footer_shadow.png') repeat-x #fff; padding: 20px; margin-top: 30px;  
	.arial 									{ color: #315872; font-family: Arial, Sans Serif; 
		a 									{ color: #315872; text-decoration: underline; }
	}
	p 										{ color: #315a74; }
}
.footer-logos 								{ margin: 25px auto 0;  
	img 									{ display: block; margin: 0 auto;  
		&.footer-logo-2 					{ margin-bottom: 30px; }
	}
}
.footer-logo-1 								{ width: 174px; }
.footer-logo-2 								{ width: 75px; }
.mry-logo 									{ width: 53px; margin-left: 5px; vertical-align: sub; }
.dash-logo 									{ width: 83px; margin-left: 5px; vertical-align: sub; }
.hr 										{ height: 2px; background: #c1cdd5; width: 100%; margin: 30px 0;}
.texting-info 								{ color: #000; }


// VIEW SPECIFIC STYLES
//===========================================

// SIGN UP FORM

.sign-up-form 								{ position: relative; 
	.ng-invalid 							{
		.btn.btn-primary 					{ background: #244358; 
			&:disabled 						{ background: #244358; }
			.submit-form 					{ background: url('../images/btn_invalid_arrow.png') no-repeat 94px 6px; padding-right: 40px;  }
	}
	}
	.btn.btn-primary 						{ 
		.submit-form 						{ background: url('../images/btn_valid_arrow.png') no-repeat 94px 6px; padding-right: 40px; }
	}
	.email 									{ position: relative; 
		.error-message 						{ display: none; 
			&.show 							{ display: block; }
		}
	}
	.name 									{
		#name-error							{
			&.show 							{ display: block !important; }
		}
	}
	&.badword 								{
		.btn.btn-primary 					{ background: #244358; 
			&:disabled 						{ background: #244358; }
			.submit-form 					{ background: url('../images/btn_invalid_arrow.png') no-repeat 94px 6px; padding-right: 40px;  }
		}
	}

}
.submit-form 								{ background: url('../images/btn_valid_arrow.png') no-repeat 71px 6px; padding-right: 40px; }

// Place holder styling
::-webkit-input-placeholder 				{ /* WebKit browsers */ color:    #325973; text-transform: uppercase; font-family: SaaSeriesDD ; font-weight: normal; font-style: normal; font-size: 18px; 
}
:-moz-placeholder 							{ /* Mozilla Firefox 4 to 18 */ color:    #325973; text-transform: uppercase; font-family: SaaSeriesDD ; font-weight: normal; font-style: normal; font-size: 18px; 
}
::-moz-placeholder 							{ /* Mozilla Firefox 19+ */ color:    #325973; text-transform: uppercase; font-family: SaaSeriesDD ; font-weight: normal; font-style: normal; font-size: 18px; 
}
:-ms-input-placeholder 						{ /* Internet Explorer 10+ */ color:    #325973; text-transform: uppercase; font-family: SaaSeriesDD ; font-weight: normal; font-style: normal; font-size: 18px; 
}
.why-email 									{ width: 48px; height: 48px; display: inline-block; 
											  text-align: center; position: absolute; top: 4px; right: 5px; color: #1d384b; cursor: pointer; 
	img 									{ width: 95%; }
}
.ts-and-cs 									{ font-size: 15px; line-height: 20px; text-transform: uppercase; text-align: left; }


// QUEUE SCREEN
//===========================================
.que-header  								{ background: #86e4f3; color: #1d384b; font-size: 30px; margin: 0; box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.35); 
											  position: relative; padding: 30px; line-height: 30px; }
.down-arrow									{ display: block; margin: 0 auto; position: relative; }
.place-in-line 								{ color: #fff; line-height: 30px; margin-top: 25px; }
.exercise-inst 								{ font-size: 15px; margin-top: 19px; }


// USER TIMED OUT
//===========================================
.timed-out 									{ 
	.submit-form 							{ background-position: 155px 6px; }
}

// SPLASH PAGE STUFF
//===========================================
.light-blue 								{ background: #89e4ff; padding: 75px 0; 
	p 										{ color: #26465f; }
}
.dark-blue 									{ padding: 75px 0; 
	h1 										{ font-size: 115px; line-height: 100px; padding: 45px; background: url('../images/headerBg.png') no-repeat center 19px; font-weight: 100; }
	h4 										{ margin: 25px 0; }
}
.home-share 								{ position: relative; top: -45px; cursor: pointer; overflow: hidden; }
.splash-twitter 							{ margin-left: 10px; }
.bottom 									{ background: #fff; padding: 75px 0; font-family: arial, sans serif; 
	p 										{ color: #26465f; }
	a 										{ color: #0b3352; text-decoration: underline; 
		&:hover 							{ color: #114c7a; }
	}
	.logos 									{ margin-bottom: 60px; }
	.ccf-logo 								{ padding-left: 56px; margin-left: 56px; border-left: 1px solid #bec7cf; }
}

.georgia 									{ font-family: Georgia, Times New Roman, Serif; font-size: 30px; color: #fdfe86; font-weight: 100; font-style: italic;  }
.sub-head 									{ font-size: 29px; line-height: 45px; color: @lightblue; font-weight: 500;

}
.video-inst 								{ font-size: 20px; color: #fff; margin-top: 25px; line-height: 29px; }
.video-sub 									{ font-size: 14px; line-height: 40px; }
.event-date 								{ font-size: 50px; line-height: 46px; margin-bottom: 20px; }
.play 										{ font-size: 36px; line-height: 30px; background: url('../images/splash_dot_title.png') no-repeat center center;  
											  padding: 24px 20px; margin: 25px 0 ;  
	span 									{ font-size: 20px; font-weight: 100px; display: block;  }
}
.address 									{ font-size: 26px; line-height: 26px; 
	&.link 									{ margin-top: 15px; }
}
.place-icon 								{ background: url('../images/place_icon.png') no-repeat 0 4px; padding-left: 24px; text-decoration: underline; 
											  color: #26465F; display: inline-block; height: 30px; 
	&:hover 								{ color: #0088CC; }
}
.share-facts 								{ font-size: 50px; line-height: 50px; color: #78deff; }
.awareness 									{ font-size: 24px; line-height: 30px; color: #fff; margin: 25px 0; }
.fact-bubbles 								{ text-align: left; margin-bottom: 35px; 
	img 									{ margin-right: 10px; }
}
.fact-text 									{ padding-top: 12px; width: 61%; display: inline-block; font-size: 18px; text-transform: uppercase; }
.video 										{ position: relative; margin-top: 40px; }
.video-iframe 								{ border: 4px solid #89e4ff; border-radius: 3px; }
.fly-out 									{ position: absolute; color: #26465f; 
	&.left 									{ top: 184px; padding-right: 45px; left: -63px; font-size: 38px; line-height: 41px; }
	&.right 								{ font-size: 38px; line-height: 30px; top: 80px; right: -63px; 
		.box 								{ height: 125px; padding-top: 25px;}
	}
	.box 									{ background: #89e4ff; width: 175px; height: 150px; }
	.arrow 									{ top: 52px; position: relative; }
	.play-time 								{ font-size: 18px; line-height: 20px; display: inline-block;  }
}

.donate-box 								{ border: 3px solid #5fd4fb; text-align: left; min-height: 100px; 
	.phone-icon 							{ position: relative; top: -15px; left: -14px;  }
	.comp-icon 								{ margin-right: 20px; }
	.comp-link 								{ margin-top: 32px; }
	&.computer								{ padding-left: 20px; }
	&.text 									{ 
		p 									{ margin-top: 10px; }
	}
	p 										{ font-size: 18px; line-height: 24px; font-weight: 100; color: #fff; }
	a 										{ color: #5fd4fb; text-decoration: underline;  
		&:hover 							{ color: #fff; }
	}
}



// ANGULAR STYLES
.ng-valid 		{  }
	.ng-invalid 	{  }
	.ng-pristine 	{  }
	.ng-dirty 		{  }

	/* really specific css rules applied by angular */
	.ng-invalid-required 		{  }
	.ng-invalid-minlength 		{  }
	.ng-valid-max-length 		{  }

@media only screen and (max-width : 979px){
	.fly-out 								{ display: none; }
	.video-responsive						{ overflow:hidden; padding-bottom:56.25%; position:relative; height:0;
		iframe								{ left:0; top:0; height:100%; width:100%; position:absolute; }
	}
}

@media only screen and (min-width : 767px){
	.container 								{ margin: 0 auto;}
}

@media only screen and (max-width : 767px){
	.donate-box 							{ border: 3px solid #5fd4fb; text-align: left; min-height: 100px; 
		&.text								{ margin-bottom: 25px; }
	}
	.bottom 								{ 
		.logos 								{ 
			img 							{ display: block; margin: 0 auto; padding: 0;   }
			.ccf-logo 						{ margin-top: 50px; padding-top: 50px; border-top: 1px solid; border-left: none; }
		}
	}
	.facts 									{ margin-bottom: 20px; }
	
}























